.home-container{
  display: flex;
  justify-content: center;
  /* background: purple; */
}
.home {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* justify-content: center;
  align-items: center; */
  /* background: purple;  */
}
.banner-search {
  display: flex;
  flex-direction: column;
  
  position: relative;
}
.banner-search button {
  color: #ff4c6d;
  text-transform: inherit;
}

.home-section{
  padding: 3rem 6rem ;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap:2.2rem 1.2rem;
}

@media screen and (max-width:590px){
  .banner-search{
      display: none;
  }
  .home-section{
    padding:3rem 4vmin;
  }
}