.search{
    /* background: pink; */
    position: absolute;
    top:36px;
    right: 0;
    z-index: 3;
    
    translate: (-50%,-50%);
}
.search form{
    display: flex;
    flex-direction: column;
    background: white;
}
.search h2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding:0 15px;
}
.search h2{
    border-top:1px solid #ff4c6d; 
}
.search form input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    font-size: 1rem;
    padding:0 15px;
}
.search form button{
    background: #ff4c6d;
    color: white;
    border-radius: 0;
    transition: all 0.37s ease;
}
.search form button:hover{
    color: #ff4c6d;
    transition: all 0.37s ease;
}

@media screen and (max-width:590px){
    .search{
        display: none;
    }
}